:root{
  --txt:black;
  --btn-txt: white;
  --bg:white;
  --txt-shadow: 0 0 20px balck;
  --btn:rgba(35, 35, 35, 0.834);
  --weight: 600;
} 

h3{
  font-weight: 100;
  margin-left: 50px;
  margin-top: 50px;
  border-bottom: 2px solid black;
  width: max-content;
}

 *{
    padding: 0px;
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
 }

 body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.lable{
  border-bottom: 3px solid black;
  width: max-content;
  font-weight: 500;
  margin: 10px  0 0 5rem;
  font-size:large;

}